
<section *ngIf="!isConnected" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="wrap">
          <div class="img" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
              </div>
              <div class="w-100"></div>
            </div>
            <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
            
              <div class="form-group" [ngClass]="{'invalid-field': email.invalid && (email.dirty || email.touched)}">
                <input id="email-field" type="text" class="form-control" formControlName="email" required>
                <label class="form-control-placeholder" for="email-field" [ngStyle]="{'color': (email.invalid && (email.dirty || email.touched)) ? 'red' : ''}">Email</label>
                <span toggle="#email-field" class="fa fa-fw fa-envelope field-icon toggle-password"></span>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                    <span *ngIf="email.errors['required']">Email is required.</span>
                    <span *ngIf="email.errors['email']">Invalid email address.</span>
                </div>
            </div>
            
            <div class="form-group" [ngClass]="{'invalid-field': password.invalid && (password.dirty || password.touched)}">
                <input id="password-field" type="password" class="form-control" formControlName="password" required>
                <label class="form-control-placeholder" for="password-field" [ngStyle]="{'color': (password.invalid && (password.dirty || password.touched)) ? 'red' : ''}">Password</label>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                    <span *ngIf="password.errors['required']">Password is required.</span>
                    <span *ngIf="password.errors['minlength']">Password must be at least 6 characters.</span>
                </div>
            </div>
            
            <div *ngIf="isSubmitClicked && !requestForm.valid" class="alert alert-warning mt-3" role="alert">
              Please fill in the required fields correctly.
            </div>
            
            <div *ngIf="isSubmitClicked && submitError" class="alert alert-warning mt-3" role="alert">
              {{ submitError }}
            </div>
            
            
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3" >Sign In</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">
                    Remember Me
                    <input type="checkbox" formControlName="rememberMe">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="#">Forgot Password</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
