
@import '../../../../assets/templates/template/css/style.css'; 

.btn {
    cursor: pointer;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
}

.btn.btn-primary {
    background: #01d28e !important;
    border: 1px solid #01d28e !important;
    color: #fff !important;
    transition: background 0.5s ease-out !important;
}


.btn.btn-primary:hover {
    opacity: 0.5 !important; /* Change to the desired lighter color on hover */
    border: 1px solid #4CAF50;
    color: #fff;
}


  
  /* Style for error messages */
  .error-message {
    color: #f44336 !important; /* Red color for error messages */
  }

  .form-group.invalid-field {
    position: relative !important;
}

.form-group.invalid-field .form-control {
    border-color:#f44336 !important;
}

.form-group.invalid-field .form-control-placeholder {
    color: #f44336 !important;
}