<div class="card flex flex-column align-items-center overflow-hidden">
    <div class="flex flex-column align-items-center gap-2">
      <span style="visibility: hidden;"
        class="slidedown-icon h-2rem w-2rem bg-primary border-circle inline-flex align-items-center justify-content-center">
      </span>
    </div>
  </div>
  
  <!-- Grid Start -->
  <div class="grid">
  
    <!-- Toolbar col starts -->
    <div class="col-8 col-offset-2 mb-5">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button [routerLink]="['/responsibles/enterprises/listt']" severity="secondary" label="Go Back"
            icon="pi pi-arrow-left"></p-button>
        </div>
      </p-toolbar>
    </div>
    <!-- Toolbar col ends -->
  
    <!-- Card Col Starts -->
    <div class="col-10 mt-8 md:col-6 lg:col-6 xl:col-4 sm:col-offset-1 md:col-offset-3 lg:col-offset-3 xl:col-offset-4">
      <div class="card p-4 shadow-2 border-round w-full h-full">
        <div class="text-center mb-5">
          <img src="assets/images/svg/create-employee-svg.svg" alt="Image" height="120" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Create Enterprise</div>
        </div>
        <div>
          <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  
            <!-- firstName Input -->
            <label for="firstname1" class="block text-900 font-medium mb-2">First Name</label>
            <input formControlName="firstname" id="firstname1" type="text" pInputText placeholder="First Name"
              class="w-full mb-3" />
            <small *ngIf="reactiveForm.get('firstname').invalid && reactiveForm.get('firstname').touched" class="p-error">
              <ng-container *ngIf="reactiveForm.get('firstname').hasError('required')">First Name is
                required</ng-container>
              <ng-container *ngIf="reactiveForm.get('firstname').hasError('pattern')">Only alphabets and spaces are
                allowed</ng-container>
              <ng-container *ngIf="reactiveForm.get('firstname').hasError('minlength')">Ensure this value has at least 3
                characters</ng-container>
            </small>
  
            <!-- lastName Input -->
            <label for="lastname1" class="block text-900 font-medium mb-2">Last Name</label>
            <input formControlName="lastname" id="lastname1" type="text" pInputText placeholder="Last Name"
              class="w-full mb-3" />
            <small *ngIf="reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched" class="p-error">
              <ng-container *ngIf="reactiveForm.get('lastname').hasError('required')">Last Name is required</ng-container>
              <ng-container *ngIf="reactiveForm.get('lastname').hasError('pattern')">Only alphabets and spaces are
                allowed</ng-container>
              <ng-container *ngIf="reactiveForm.get('lastname').hasError('minlength')">Ensure this value has at least 3
                characters</ng-container>
            </small>
  
        
            <div class="mb-1">
              <div class="flex justify-content-center mb-3">
                <p-progressSpinner *ngIf="isSpinnerLoading" styleClass="w-4rem h-4rem" strokeWidth="8"
                  fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
              </div>
              
              <p-messages *ngIf="isSubmitClicked && !reactiveForm.valid" [(value)]="alertService.messages"></p-messages>
              <p-messages *ngIf="isSubmitClicked && submitError" [(value)]="alertService.messages"></p-messages>
              <p-messages *ngIf="isSubmitClicked && isValid" [(value)]="alertService.messages"></p-messages>
            </div>
            <button pButton pRipple label="Create Employee" icon="pi pi-plus" class="w-full"></button>
          </form>
        </div>
      </div>
    </div>
    <!-- Card Col End -->
  </div>
  <!-- Grid End -->