/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";


/* Add this to your styles.css or styles.scss file */
/* Define your variables */
/* Variables */
:root {
    --font-primary: 'Lato', Arial, sans-serif;
    --primary: #01d28e;
    --black: #000000;
    --white: #ffffff;
}

.bg-green {
    background-color: var(--primary);
    color: white;
}

/* Your styles */
body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: lighten(--black, 50%);
}

a {
    transition: .3s all ease;
    color: #01d28e;
}

a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
}

a:hover, a:active, a:focus {
    color: #01d28e;
    outline: none !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
    color: #000;
}