<div class="card  flex flex-column align-items-center overflow-hidden">
    <div class="flex flex-column align-items-center gap-2">
      <span style="visibility: hidden;"
        class="slidedown-icon h-2rem w-2rem bg-primary border-circle inline-flex align-items-center justify-content-center">
      </span>
    </div>
  </div>
  <!-- Grid Start -->
  <div class="grid">

    <!-- Toolbar starts -->
    <div class="col-8 col-offset-2 mb-5 ">
  
        <p-toolbar>
          <div class="p-toolbar-group-start">
       <p class="font-bold">Statistics</p>
          </div>
          <div class="p-toolbar-group-end">
           <div class="card flex bg-transparent justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
          </div>

          </div>
        </p-toolbar>
    
      </div>
      <!-- Toolbar ends -->

</div>
<!--Grid End-->

<!-- Content 1 starts-->
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Enterprises</span>
                        <div class="text-900 font-medium text-xl">5</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
               <!--  <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Responsibles</span>
                        <div class="text-900 font-medium text-xl">2</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span> -->
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Employees</span>
                        <div class="text-900 font-medium text-xl">6</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
              <!--   <span class="text-green-500 font-medium">520  </span> -->
               <!--  <span class="text-500">newly registered</span> -->
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Blogs</span>
                        <div class="text-900 font-medium text-xl">30</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span> -->
            </div>
        </div>
    </div>
</div>


<!--Content 1 Ends -->


<p-splitter [style]="{ height: '800px' }" styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
            <div class="card flex justify-content-center">
                <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
            </div>
            
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
            <div class="card flex justify-content-center">
                <p-chart type="pie" [data]="dataPie" [options]="optionsPie"></p-chart>
            </div>
        </div>
    </ng-template>
</p-splitter>




<!-- <div class="card">
    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
</div>
 -->


    <!-- Grid End-->