a {
  position: relative;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3459e6;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

/* Add this rule to disable the underline effect */
.btn-read-more:before {
  display: none;
}

.separator {
  width: 1px;
  height: 1rem; /* Adjust the height as needed */
}

.bg-light {
  background-color: #f8f9fa; /* Light gray color */
}

.bg-light {
  background-color: #f8f9fa; /* Light gray color */
}







/* Add this to your styles.css or styles.scss file */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #f3cddb;
  transition: all .6s ease-out;
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card a:hover {
  color: #0056b3;
}

.card-subtitle {
  color: #888;
}

.btn-primary {
  font-weight: 500;
  background-color: rgba(1, 210, 142, 1);
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #218838;
}

.sort-options select,
.app-search input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.flat-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.flat-button:hover {
  background-color: #0056b3;
}


.btn-read-more {
  background-color: #007bff; /* #01d28e */
  color: white;
  border: none;
}

.btn-read-more:hover {
  background-color: #17a2b8; /* Slightly reduce alpha for hover */
  transition: background-color 0.6s ease;
}

.card-title {
  font-family: 'Lato', sans-serif; /* Add your preferred font or keep sans-serif as a fallback */
  font-size: 1.5rem; /* Adjust the title font size */
  margin-bottom: 12px; /* Add space below title */
  color: hsl(0, 0%, 35%);
}

.card-subtitle {
  color: #888;
  font-family: 'Lato', sans-serif; /* Add your preferred font or keep sans-serif as a fallback */
  margin-bottom: 12px;
}

.card-text {
  line-height: 1.5; /* Improve paragraph line height */
  margin-bottom: 16px;
  font-size: 1rem;
  padding: 16px 16px 16px 5px;  /* Add space below paragraphs */
}
h6  {
  color: #888;
  font-size: 12px; /* Adjust the font size as needed */
  margin-bottom: 8px; /* Add space below the date */
  position: relative;
}

.date-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; /* Line color */
}



/* Your.component.css */

.card4 {
  display: block;
  top: 0px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease-out  !important; /* Adjusted transition speed */

  &:hover {
    transform: translateY(-10px);
  }


}